/* Atomic Mesh by Maarten v/d Velde, http://www.ideogram.nl */
.ptrnbg.ptrn-atomic-mesh {
	background-color: #324;
	background-image:
		radial-gradient(rgba(255,255,255,0.5) 20%, transparent 30%),
		radial-gradient(rgba(255,255,255,0.8) 15%, transparent 16%);
	background-size: 20px 20px, 19px 19px;
}