/* Diamond Ground by Ee Venn Soh, http://be.net/vennsoh */
.ptrnbg.ptrn-diamond-ground {
	background-color: #fff;
	background-image:
		linear-gradient(115deg, transparent 89%, #e8ddcb 0),
		linear-gradient(-115deg, transparent 89%, #cdb380 0),
		linear-gradient(-115deg, #036564 11%, transparent 0),
		linear-gradient(115deg, #033649 11%, transparent 0),
		
		linear-gradient(-25deg, #e8ddcb 11%, transparent 0),
		linear-gradient(25deg, transparent 89%, #cdb380 0),
		linear-gradient(25deg, #036564 11%, transparent 0),
		linear-gradient(-25deg, transparent 89%, #033649 0),
		
		linear-gradient(-25deg, #e8ddcb 11%, transparent 0),
		linear-gradient(25deg, transparent 89%, #cdb380 0),
		linear-gradient(25deg, #036564 11%, transparent 0),
		linear-gradient(-25deg, transparent 89%, #033649 0),
		
		linear-gradient(115deg, transparent 89%, #e8ddcb  0),
		linear-gradient(-115deg, #cdb380 11%, transparent 0),
		linear-gradient(-115deg, transparent 89%, #036564 0),
		linear-gradient(115deg, #033649 11%, transparent 0);
	background-size: 150px 150px;
	background-position:
		-128px -96px, 22px -96px, -128px 54px, 22px 54px,
		-128px -22px, -128px 128px, 22px -22px, 22px 128px,
		-53px -96px, -53px 54px, 97px -96px, 97px 54px,
		-53px -21px, -53px 129px, 97px -21px, 97px 129px
}