/* Zig-Zag by eCSSpert, http://twitter.com/ecsspert */
.bgpattern-zig-zag {
	background-color: #ec173a;
	background-image:
		linear-gradient(135deg, #eceddc 25%, transparent 25%),
		linear-gradient(225deg, #eceddc 25%, transparent 25%),
		linear-gradient(315deg, #eceddc 25%, transparent 25%),
		linear-gradient(45deg, #eceddc 25%, transparent 25%);	
	background-size: 100px 100px;
	background-position: -50px 0, -50px 0, 0 0, 0 0;
}